# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.py]
indent_size = 4

[*.{cpp,hpp}]
indent_size = 2

[*.rst]
indent_size = 3
tab_size = 3
indent_style = space

[{.travis.yml,.cicleci/config.yml}]
indent_style = space
indent_size = 2

