# Use Nix, if it's around, to get rustup
if [ -x "$(command -v nix-shell)" ]; then
  use nix
else
  # Check whether rustup is around and install it otherwise
  if ! [ -x "$(command -v rustup)" ]; then
    # Install
    # * silently (-y)
    # * without modifying PATH (--no-modify-path)
    # * without installing any toolcahin (--default-toolchain none)
    curl https://sh.rustup.rs -sSf | sh -s -- -y --no-modify-path --default-toolchain none
    # Add to PATH
    source "$HOME"/.cargo/env
    # Set default to a recent enough nightly
    # PyO3 requires at least 1.34.0-nightly 2019-02-06
    rustup default nightly
    # Install RLS for code completion
    rustup component add rls-preview rust-analysis rust-src rustfmt-preview
  fi
fi


# Install maturin
if ! [ -x "$(direnv_layout_dir)/.cargo/bin/maturin" ]; then
  cargo install maturin --root $(direnv_layout_dir)/.cargo
fi
PATH_add $(direnv_layout_dir)/.cargo/bin

# Now the Python dependencies
layout pipenv
