# Use Nix, if it's around, to get rustup
if [ -x "$(command -v nix-shell)" ]; then
  use nix
fi

# Check whether rustup is around and install it otherwise
if ! [ -x "$(command -v rustup)" ]; then
  # Install
  # * silently (-y)
  # * without modifying PATH (--no-modify-path)
  # * without installing any toolcahin (--default-toolchain none)
  curl https://sh.rustup.rs -sSf | sh -s -- -y --no-modify-path --default-toolchain none
  # Add to PATH
  source "$HOME"/.cargo/env
fi

# Set default to a recent enough nightly
rustup default nightly-2019-01-15
# Install RLS for code completion
rustup component add rls-preview rust-analysis rust-src
